.taskForm {
  border: 1px solid var(--grey);
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  outline: none;
  transition: 0.2s all;
  position: relative;
  margin-bottom: 0;
}

.taskFormItem {
  margin-bottom: 5px;
}

